.navbar {
    width: 100%;
    height: 60px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.logout-wrapper {
    display: flex;
}

.logout {
    margin-right: 15px;
}
